
.commentify {
    margin-bottom: 40px;
}

.commentify .commentify-form {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #7C7C7C;
}
.commentify .commentify-form .commentify-name,
.commentify .commentify-form .commentify-email {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 6px 2% 2px 0;
    width: 48%;
    padding: 2px 6px;
}
.commentify .commentify-form .commentify-email {
    margin: 6px 0 2px 0;
    width: 50%;
}
.commentify .commentify-form .commentify-comment {
    border: 1px solid #ddd;
    display: block;
    padding: 2px 6px;
    margin: 8px 0;
    width: 100%;
    height: 76px;
    max-width: 100%;
}
.commentify .commentify-form .commentify-button {
    background-color: #009FFF;
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    margin: 4px 14px 4px 0;
    display: inline-block;
}


.commentify .commentify-comment-box {
    padding: 6px 0 0;
    border-bottom: 1px #bbb dashed;
    margin-bottom: 10px;
}
.commentify .commentify-comment-box .commentify-name{
    font-weight: bold;
    color: #8E8E8E;
    margin: 0 20px 2px 0;
    display: inline-block;
}
.commentify .commentify-comment-box .commentify-comment{

}
.commentify .commentify-comment-box .commentify-date{

}


.commentify .commentify-load-more {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    background-color: #F7F7F7;
    border: 1px solid #eee;
    color: #757575;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
}